<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean id="loginController" class="learn.spring.controller.LoginController">
		<property name="model" ref="loginModel" />
		<property name="view" ref="loginView" />
	</bean>
	<bean id="loginModel" class="learn.spring.model.LoginModel" />
	<bean id="loginView" class="learn.spring.view.LoginView" />

</beans>