<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean id="loginController" class="learn.spring.controller.LoginController">
		<property name="model" ref="loginModel" />
		<property name="view" ref="loginView" />
	</bean>
	<bean id="loginModel" class="learn.spring.model.LoginModel" />
	<bean id="loginView" class="learn.spring.view.LoginView" />
	
	<!-- Below factory-method is used to instantiate a class using the static method(getInstance) defined in java.text.NumberFormat -->
	<bean id="nf" class="java.text.NumberFormat" factory-method="getInstance" />
	
	<bean id="dbf" class="javax.xml.parsers.DocumentBuilderFactory" factory-method="newInstance" />
	
	<!-- Below bean definition is creating a bean instance by calling a non static method from the object of above bean  -->
	<bean id="db" class="javax.xml.parsers.DocumentBuilder" factory-bean="dbf" factory-method="newDocumentBuilder"

</beans>